/* Reset de base et styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #303030;
    background-color: #FFFFFF;
}

header {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.8); /* Transparence */
    backdrop-filter: blur(10px); /* Effet de flou */
    z-index: 1000; /* S'assurer que la navbar reste au-dessus des autres éléments */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo img {
    height: 50px; /* Ajustez la taille de votre logo si nécessaire */
}

nav .hamburger {
    display: none; /* modifiez cette propriété comme nécessaire */
    /* autres styles... */
}


nav .menu {
    list-style: none;
    display: flex;
}

nav .menu li {
    margin-left: 20px;
}

nav .menu li a {
    text-decoration: none;
    color: #000;
    /* Autres styles de lien si nécessaire */
}

.menu.show {
    display: block; /* ou un autre style de votre choix */
}

/* Styles pour mobile */
@media (max-width: 768px) {
    nav .menu {
        display: none;
    }

    nav .hamburger {
        display: block;
    }
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px; /* Ajuster selon la taille souhaitée */
    z-index: 1002; /* Plus élevé que celui du menu en plein écran */
}

.hamburger span {
    display: block;
    width: 30px; /* Ajuster selon la largeur souhaitée */
    height: 3px; /* Ajuster selon l'épaisseur souhaitée */
    background-color: #333; /* Couleur des barres */
    margin: 5px 0;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px; /* Ajustez selon vos besoins */
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px; /* Ajustez selon vos besoins */
}

.menu-fullscreen {
    position: fixed;
    top: 73px;
    right: -100%; /* Commencer hors de l'écran à droite */
    width: 100%;
    height: calc(100% - 73px);
    background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent comme le header */
    backdrop-filter: blur(10px); /* Effet de flou appliqué */
    z-index: 1001; /* Au-dessus de tous les autres éléments */
    transition: right 0.5s ease; /* Ajuster la durée de la transition si nécessaire */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-fullscreen ul {
    list-style: none;
}

.menu-fullscreen ul li a {
    color: #333;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.menu-fullscreen ul li a i {
    font-size: 32px;
    margin-right: 16px; /* Espace entre l'icône et le texte */
}

.menu-fullscreen.show {
    right: 0; /* Déplacer le menu vers la gauche pour l'afficher */
}


#home {
    margin-top: -73px; /* Ajustez cette valeur en fonction de la hauteur de votre en-tête */
    padding-top: 73px; /* Ajoutez un padding pour éviter que le contenu ne soit caché sous l'en-tête */
    background: linear-gradient(to right, #006d77, #83c5be); /* Un gradient subtil */
    backdrop-filter: blur(10px);
    animation: gradientShift 10s ease infinite;
    background-size: 200% 200%;
    color: white;
    height: 100vh; /* Plein écran */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alignement vertical des éléments enfants */
    align-items: center;
    justify-content: center;
}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Styles pour la bannière */
#home h1 {
    font-size: 4rem; /* Taille de la police */
    font-weight: bold; /* Graisse de la police */
    color: #ffffff;
    text-shadow: 6px 2px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem; /* Espacement en dessous du titre */
    text-transform: uppercase; /* Optionnel: Mettre le texte en majuscules */
    margin: 0;
    padding: 0;
    letter-spacing: 2px; /* Espacement entre les lettres */
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
/* Styles pour le sous-titre */
#home p {
    font-size: 1.5rem; /* Taille de la police appropriée */
    color: #ffffff; /* Une couleur accrocheuse */
    text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    font-weight: 300;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold; /* Rendre le texte en gras pour attirer l'attention */
}


/* Styles pour les sections générales */
section {
    padding: 2rem;
    margin: 1rem 0;
}

/* Styles pour les titres de sections */
h2 {
    color: #008080;
    margin-bottom: 1rem;
}

/* Styles pour les articles du portfolio */
#portfolio article {
    margin-bottom: 1rem;
    background: #f2f2f2;
    padding: 1rem;
    border-radius: 10px;
}

/* Styles pour le bouton de téléchargement */
a[download] {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #FF7F50;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

/* Styles pour le formulaire de contact */
#contact form {
    background: #f9f9f9;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
}

#contact label {
    display: block;
    margin: 0.5rem 0;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#contact button[type="submit"] {
    background: #008080;
    color: #FFFFFF;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles pour le pied de page */
footer {
    background: #303030;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
    nav {
        padding: 0.5rem;
    }

    #home {
        padding: 1rem;
    }

    section {
        padding: 1rem;
    }
}
